.well
  %h3 User #{user.name}
  = image_tag(user.img_url, {alt: "User " + user.name.to_s + "'s picture", class: "thumbnail"})

  -if current_user == user
    %p
      Email: 
      = mail_to(user.email, nil, {type: "email"})
  %p
    User #{user.name} has posted 
    = pluralize(user.post_count, 'tweet') 
    so far.

  - if current_user.idols.include?(user)
    = button_to("Unfollow the user", user_remove_followship_path(user_id: user.id), method: :delete, class: "button btn btn-lg btn-info")

  - else
    = button_to("Follow the user", user_new_followship_path(user_id: user.id), class: "button btn btn-lg btn-info")

.well
  - unless user.followee_count.zero? #move this block to helper
    %h4 User #{user.name} is following:
    - user.idols.each do |idol|
      %p
        = link_to(idol.name, idol)
  - else
    %h3 User #{user.name} is not following anyone.

.well
  %h4 Hot tags:
  - hot_tags.each do |tag|
    %p
      =tag.name